body{
    margin: 0;
    padding: 0;
background-color: pink;
}

#target-div{
    height: 100px;
    width: 100px;
    position: absolute;
    border: 4px solid black;
    top: 45%;
    left: 45%;
}

#target-div img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}